<div class="container">
  <% if @camp_sites.present? %>
    <table class="table tbl-r04">
      <thead>
        <tr class="thead">
          <th>キャンプサイト名</th>
          <th>レビュー平均点</th>
        </tr>
      </thead>
      <tbody>
        <% @camp_sites.each do |camp_site| %>
          <tr>
            <td>
              <%= link_to  region_camp_site_path(@region.id, camp_site.id) do %>
                <%= camp_site.site_name %>
              <% end %>
            </td>
            <td>
              <% if camp_site.reviews.present? %>
                <div id="star-score-<%= camp_site.id %>"></div>
                <%= camp_site.reviews.count %>件の評価
              <% else %>
                <p>評価はまだありません</p>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>登録されているキャンプサイトがありません</p>
    <p>キャンプサイトのご登録は<%= link_to "こちら", new_region_camp_site_path %></p>
  <% end %>
  <div class="kaminari">
    <%= paginate(@camp_sites) %>
  </div>
  <div class="page-back mt-2 ml-3">
    <%= link_to "<<戻る", regions_path %>
  </div>
</div>
<!--星評価-->
<script>
<% @camp_sites.each do |camp_site| %>
  <% if camp_site.reviews.present? %>
    $('#star-score-<%= camp_site.id %>').empty();
  <%end%>
<%end%>

$(document).ready(function(){
  <% @camp_sites.each do |camp_site| %>
  <% if camp_site.reviews.present? %>
      $('#star-score-<%= camp_site.id %>').raty({
        size: 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half: true,
        readOnly: true,
        score: <%= camp_site.reviews.average(:score).to_f.round(1) %>
      });
  <% end %>
  <% end %>
    });
</script>