<div class="container">
  <table class="table">
    <thead>
      <th>サイト名</th>
    </thead>
    <tbody>
      <% @camp_sites.each do |camp_site| %>
        <tr>
          <td>
            <%= link_to camp_site_path(camp_site) do %>
              <%= camp_site.site_name %>
            <% end %>
          </td>
          <td>
            <% if camp_site.reviews.present? %>
              <div id="star-score-<%= camp_site.id %>"></div> (<%= camp_site.reviews.average(:score) %>点)
            <% else %>
              <p>評価はまだありません</p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<!--星評価-->
<script>
<% @camp_sites.each do |camp_site| %>
  <% if camp_site.reviews.present? %>
    $('#star-score-<%= camp_site.id %>').empty();
  <%end%>
<%end%>

$(document).ready(function(){
  <% @camp_sites.each do |camp_site| %>
  <% if camp_site.reviews.present? %>
      $('#star-score-<%= camp_site.id %>').raty({
        size: 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half: true,
        readOnly: true,
        score: <%= camp_site.reviews.average(:score) %>
      });
  <% end %>
  <% end %>
    });
</script>