<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="jquery.raty.js"></script>
<div class="container">
  <% @reviews.each do |review| %>
    <%= review.title %>
    <%= link_to user_path(review.user) do %>
      <%= attachment_image_tag review.user, :profile_image, :fill,65,65, fallback: "no_image.png", size: "65x65", class: "rounded-circle d-block mx-auto img-fluid" %>
    <% end %>
    <%= review.body %>
  <% end %>

  <!-- 口コミ入力フォーム -->
  <%= form_with(model: @review, local: true) do |f| %>
    <!--キャンプサイトidの送信-->
    <%= f.hidden_field :site_id, { value: @camp_site.id} %>
    <div class="star-form-group" id="star1">            <%#id要素の付与がポイント%>
      <%= f.label :score,'評価', class:'star-title' %>　<%#保存したいカラムの指定%>
      <%= f.hidden_field :score, id: :review_star %>
    </div>

    <!-- 評価javascript -->
    <script>
    $(document).on('turbolinks:load', function(){
      $('#star1').raty({
        alert('JavaScriptのアラート');
        size     : 38,                                    //星のサイズ
        starOff:  '<%= asset_path('star-off.png') %>',    //imagesフォルダより星画像の呼び出し
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        scoreName: 'review[score]',     //reviewモデルのcomfortカラムに保存
        half: true,                       //星半分を許可する。DBには0.5単位の数値が保存される
      });
    });
    </script>

    <!-- 口コミ -->
    <div class="form-group row">
      <%= f.label :content, '口コミ内容 ', class:'col-md-3 col-form-label' %>
      <div class="col-md-9">
        <%= f.text_area :content, class: "form-control", rows: "8", placeholder:'口コミ内容がなくても、タイトルと評価のみで投稿できます。まずは投稿してみましょう！投稿してから編集もできますよ！' %>
      </div>
    </div>

    <!-- 投稿ボタン -->
    <div class="form-group row justify-content-end">
      <div class="col-md-9">
        <%= f.submit '投稿する', class:"btn btn-success" %>
      </div>
    </div>

  <% end %>
</div>