<div class="container">
  <table class="table">
    <thead>
      <th></th>
      <th>評価</th>
      <th>タイトル</th>
      <th>レビュー本文</th>
    </thead>
    <tbody>
      <% @reviews.each do |review| %>
        <tr>
          <td>
            <%= link_to user_path(review.user) do %>
              <%= attachment_image_tag review.user, :profile_image, :fill,65,65, fallback: "no_image.png", size: "65x65", class: "rounded-circle d-block mx-auto img-fluid" %>
            <% end %><br>
            <%= link_to review.user.name, user_path(review.user), class: "text-center" %>
          </td>
          <td class="star1_<%= @camp_site.id %>"><%= review.score %></td>
          <td class="align-items-center"><%= review.title %></td>
          <td class="align-items-center"><%= review.body %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate(@reviews) %>

  <!-- 口コミ入力フォーム -->
  <%= form_with(model:[@camp_site, @review], local: true) do |f| %>
    <!--キャンプサイトidの送信-->
    <%= f.hidden_field :camp_site_id, { value: @camp_site.id} %>
    <div class="star-form-group row star1">            <%#id要素の付与がポイント%>
      <%= f.label :score,'評価', class:'star-title col-md-3 col-form-label' %>　<%#保存したいカラムの指定%>
      <%= f.hidden_field :score, id: :review_star, class: "col-md-9" %>
    </div>

    <!-- 評価javascript -->
    <script>
    $(document).on('turbolinks:load', function(){
      $('.star1 ').raty({
        size     : 38,                                    //星のサイズ
        starOff:  '<%= asset_path('star-off.png') %>',    //imagesフォルダより星画像の呼び出し
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        scoreName: 'review[score]',     //reviewモデルのcomfortカラムに保存
        half: true,                       //星半分を許可する。DBには0.5単位の数値が保存される
      });
    });
    </script>

    <!-- 口コミ -->
    <div class="form-group row">
      <%= f.label :title, '件名 ', class:'col-md-3 col-form-label' %>
      <div class="col-md-9">
        <%= f.text_field :title, class: "form-control", rows: "8" %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :body, '口コミ内容 ', class:'col-md-3 col-form-label' %>
      <div class="col-md-9">
        <%= f.text_area :body, class: "form-control", rows: "8", placeholder:'よかったこと、感想などレビューを書き込んでください' %>
      </div>
    </div>

    <!-- 投稿ボタン -->
    <div class="form-group row justify-content-end">
      <div class="col-md-9">
        <%= f.submit '投稿する', class:"btn btn-success" %>
      </div>
    </div>

  <% end %>
</div>