<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>nick name</th>
      <th>account name</th>
      <th>followers</th>
      <th>followings</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td>
          <%= link_to user_path(user) do %>
            <%= attachment_image_tag user, :profile_image, size: "70x70", format: "jpeg", fallback: "no_image.png", size: "70x70", class: "rounded-circle", style: "object-fit: cover;" %>
          <% end %>
        </td>
        <td>
          <%= link_to user_path(user) do %>
            <%= user.nickname %>
          <% end %>
        </td>
        <td>@<%= user.account_name %></td>
        <td><%= user.followers.count %></td>
        <td><%= user.followings.count %></td>
        <td>
          <% if current_user != user %>
            <% if current_user.following?(user) %>
              <%= link_to "unfollow", user_relationships_path(user.id), method: :delete, class: "btn btn-primary" %>
            <% else %>
              <%= link_to "follow", user_relationships_path(user.id), method: :post, class: "btn btn-success" %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>