<div id="scroll", class="chat-room">
  <% if @chats != nil %>
    <div class="chats">
      <% chats.each do |chat| %>
        <% if chat.user_id == current_user.id %>
          <div class="mycomment">
            <div class="my-message">
              <p><%= chat.message %></p>
            </div>
            <div class="create-time">
              <%= chat.created_at.strftime("%H:%M") %>
            </div>
          </div>
        <% else %>
          <div class="fukidasi">
            <div class="faceicon">
              <%= attachment_image_tag chat.user, :profile_image, size: "50x50", format: "jpeg", fallback: "no_image.png", size: "50x50", class: "rounded-circle", style: "object-fit: cover;" %>
            </div>
            <div class="chatting">
              <div class="says">
                <p><%= chat.message %></p>
              </div>
              <div class="create-time">
                <p><%= chat.created_at.strftime("%H:%M") %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <p><%= user.nickname %>さんと会話をしてみよう！</p>
  <% end %>
</div>

