<div class="container">
  <h1 class="title"><%= @user.nickname %> さんとのChats</h1>
    <div class="chat-room">
      <div class="message">
        <% if @chats != nil %>
          <% @chats.each do |chat| %>
            <tr>
              <% if chat.user_id == current_user.id %>
                <td style="text align: right;"><%= chat.message %></td>
                <td></td>
              <% else %>
                <td></td>
                <td style="text-align: left;"><%= chat.message %></td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </div>
      <div class="chat-form">
        <%= form_with model: @chat do |f| %>
          <%= f.text_field :message %>
          <%= f.hidden_field :room_id %>
          <%= f.submit '送信' %>
        <% end %>
      </div>
    </div>
  </div>
</div>