<div class="container-fluid">
  <div class="chat-page">
    <%= link_to user_path(@user) do %>
      <i class="fas fa-user fa-2x"></i>
    <% end %>
    <h4 class="d-inline-block chat-user-name"><strong><%= @user.nickname %></strong></h4>
    <div class="message">
      <%= render 'chat', chats: @chats, chat: @chat, user: @user %> 
    </div>
    <div class="row col-12 form-inline mt-3">
      <%= form_with model: @chat, id: "chat-form" do |f| %>
        <%= f.text_field :message, class: "form-control", id: "chat-message" %>
        <%= f.hidden_field :room_id %>
        <%= f.submit '送信', class: "btn btn-success chat-create_btn" %>
      <% end %>
    </div>
  </div>
</div>