<div class="container pt-5 pb-5">
  <div class="text-center">
    <h2 class="top-heading">お問い合わせ</h2>
  </div>
  <div class="contact-group  mt-5">
    <div class="row">
      <!--left-side-->
      <div class="left-contact col-6">
        <div class="left-contact-content text-center">
          <h3 class="left-content-title">Mail</h3>
          <%= mail_to 'user@text.com' %>
          <h3 class="left-content-title">Tel</h3>
          <%= link_to '01234567890' %>
        </div>
      </div>
      <!--right-side-->
      <div class="right-contact col-6">
        <div class="right-contact-content">
          <h3 class="right-content-title">SNS</h3>
          <div class="row">
            <div class="pr-3">
              <%= link_to root_path do %>
              <i class="fab fa-facebook fa-3x"></i>
              <% end %>
            </div>
            <div class="pr-3">
              <%= link_to root_path do %>
              <i class="fab fa-twitter fa-3x"></i>
              <% end %>
            </div>
            <div class="">
              <%= link_to root_path do %>
              <i class="fab fa-instagram fa-3x"></i>
              <% end %>
            </div>
            <div class="col-md-6"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>