
<% posts.each do |post| %>
  <div class="col-12 col-md-6 col-lg-4 post_1 mt-3">
    <div class="bg-white">
      <div class="image_container">
        <!--投稿画像-->
        <%= link_to post_path(post) do %>
          <%= attachment_image_tag(post, :image, class: "img d-block mx-auto", style: "background-image: none;") %>
        <% end %>
      </div>

      <div class="row mt-3">
        <!--アイコン-->
        <div class="sub col-md-4">
          <%= link_to user_path(post.user) do %>
            <%= attachment_image_tag post.user, :profile_image, :fill,70,70, format: "jpeg", fallback: "no_image.png", size: "70x70", class: "rounded-circle d-block mx-auto" %>
          <% end %>
        </div>
        <!--ニックネーム・アカウント名-->
        <div class="name text-center col-md-4 m-auto">
          <p><strong><%= link_to post.user.nickname, user_path(post.user), class: "link" %></strong></p>
          <p><%= link_to post.user.account_name, user_path(post.user), class: "link" %></p>
        </div>
        <!--いいねボタン設置-->
        <div class="favorite col-md-4 d-block mx-auto">
          <%= render 'layouts/favorite', post: post %>
        <!--フォローボタン設置-->
          <%= render 'layouts/follow', user: post.user %>
        </div>
      </div>
    </div>
  </div>
<% end %>

