<div class="container">
  <h4 class="page-heading">投稿編集</h4>
  <% if @post.errors.any? %>
    <%= @post.errors.count %>件のエラーが発生しました
    <% @post.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  <% end %>
  <div class="edit-form">
    <%= form_with model: @post, local:true do |f| %>
      <div class="field row col-sm-12 col-md-6">
        <%= f.label :body, "本文", class: "d-block mt-3" %>
        <%= f.text_area :body, class: "form-control" %>
      </div>
      <div class="field row col-sm-12 col-md-6">
        <div class="mt-3">" ,（半角）"を入力することで複数のタグを登録することができます。</div>
        <%= f.text_field :tag_name, placeholder: '例）キャンプ飯,男飯', class: "form-control" %>
      </div>
      <%= f.submit '更新する', class: 'btn btn-success d-block mt-3' %>
    <% end %>
  </div>
  <div class="post-back mt-3">
    <%= link_to "<< back", post_path(@post) %>
  </div>
</div>