<div class="container">
  <h4 class="page-heading mr-2">投稿編集</h4>
  <div class="error-message mt-3 mb-3">
    <% if @post.errors.any? %>
      <%= @post.errors.count %>件のエラーが発生しました<br>
      <% @post.errors.full_messages.each do |message| %>
        ・<%= message %><br>
      <% end %>
    <% end %>
  </div>
  <div class="ml-2 mr-2">
    <%= form_with model: @post, local:true do |f| %>
      <div class="field row col-sm-12 col-md-6 d-block">
        <%= f.label :body, "本文"%>
        <%= f.text_area :body, class: "form-control" %>
      </div>
      <div class="field row col-sm-12 col-md-6 d-block">
        <div class="mt-3">" ,（半角）"を入力することで複数のタグを登録することができます。</div>
        <%= f.text_field :tag_name, placeholder: '例）キャンプ飯,男飯', class: "form-control" %>
      </div>
      <div class="field row col-sm-12 col-md-6 d-block">
        <%= f.label :site_name, "本文", class: "mt-3" %>
        <%= f.text_area :site_name, class: "form-control" %>
      </div>
      <%= f.submit '更新する', class: 'btn btn-success d-block mt-3' %>
    <% end %>
  </div>
  <div class="post-back mt-3">
    <%= link_to "<< back", post_path(@post) %>
  </div>
</div>