<div class="container">
  <h4 class="page-heading">New Post</h4>
  <% if @post.errors.any? %>
    <%= @post.errors.count %>件のエラーが発生しました
    <% @post.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  <% end %>
  <div class="create-post">
    <%= form_with model: @post, local:true do |f| %>
      <%= f.label :image, "投稿画像", class: "d-block mt-3" %>
      <%= f.attachment_field :image, class: "d-block mt-3" %>
      <%= f.label :body, "本文", class: "d-block mt-3" %>
      <%= f.text_area :body, class: "d-block mt-3" %>
      <div class="mt-3">" , "を入力することで複数のタグを登録することができます。</div>
      <%= f.text_field :tag_name, placeholder: '例）キャンプ飯　男飯', class: "d-block mt-3" %>
      <%= f.submit 'Create', class: 'btn btn-success d-block mt-3' %>
    <% end %>
  </div>