<div class="container">
  <div class="row">
    <!--left-side-->
    <div class="col-8">
      <%= attachment_image_tag(@post, :image, :fill, 400, 400, fallback: "no_image.jpg") %>
      <%= link_to user_path(@post.user) do %>
        <%= attachment_image_tag(@post.user, :profile_image, :fill, 50, 50, fallback: "no_image.png") %>
      <% end %>
      <%= render 'layouts/favorite', post: @post %>
      <!--フォローボタン設置-->
      <%= link_to user_path(@post.user) do %>
        <%= @post.user.nickname %>
      <% end %>
      <%= @post.user.account_name %>
      <%= @post.created_at %>
      <%= @post.body %>
    </div>
    <!--right-side-->
    <div class="col-4">
      <!--コメント入力欄設置-->
      <!--コメント一覧表示-->
    </div>
  </div>
  
  <% if @post.user == current_user %>
    <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-sm btn-success edit_book_#{@post.id}" %>
    <%= link_to 'Destroy', post_path(@post), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_book_#{@post.id}"%>
  <% end %>
</div>