<header>
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><%= image_tag 'logo.png', class: "logo" %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto mr-3">
        <% if user_signed_in? %>
          <li><%= link_to '新しく投稿', new_post_path,class: 'nav-link'%></li>
          <li><%= link_to 'マイページ', user_path(current_user), class: 'nav-link'%></li>
          <li><%= link_to 'みんなの投稿', posts_followed_index_path, class: 'nav-link '%></li>
          <li><%= link_to '世界の新着', posts_path, class: 'nav-link '%></li>
          <% if unchecked_notifications.any? %>
            <i class="fab fa-canadian-maple-leaf notification-icon" ></i>
          <% end %>
          <li><%= link_to '通知', user_notifications_path(current_user), class: 'btn-default nav-link'%></li>
          <li>
            <%= link_to camp_sites_path, class: 'nav-link' do %>
              <i class="fas fa-campground"></i>
            <% end %>
          </li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link'%></li>
        <% else %>
          <li><%= link_to "Campistについて", "#{root_path}#about", class: 'nav-link' %></li>
          <li><%= link_to "どんなサービス？", "#{root_path}#feature", class: 'nav-link' %></li>
          <li><%= link_to "お問い合わせ", "#{root_path}#contact", class: 'nav-link' %></li>
          <li><%= link_to '新規登録', new_user_registration_path, class: 'nav-link'%></li>
          <li><%= link_to 'ログイン', new_user_session_path, class: 'nav-link'%></li>
        <% end %>
        </ul>
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <%= render 'layouts/search' %>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>