<header>
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <%= link_to root_path do %>
            <%= image_tag 'logo.png', class: "logo" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="header-nav">
    <div class="container">
      <div class="row header-nav-box">
        <% if user_signed_in? %>
          <%= link_to '新規投稿', new_post_path,class: 'col-xs-6 col-sm-3 header-nav-btn' %>
          <%= link_to 'MyPage', user_path(current_user), class: 'col-xs-6 col-sm-3 header-nav-btn'%>
          <%= link_to 'Feeds', posts_path, class: 'col-xs-6 col-sm-3 header-nav-btn'%>
          <%= link_to 'Notice', user_notifications_path(current_user), class: 'col-xs-6 col-sm-3 header-nav-btn'%>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'col-xs-6 col-sm-3 header-nav-btn'%>
        <% else %>
          <%= link_to 'About', '#about', class: 'col-xs-6 col-sm-3 header-nav-btn' %>
          <%= link_to 'Feature',"#feature", class: 'col-xs-6 col-sm-3 header-nav-btn' %>
          <%= link_to 'Contact', "#contact", class: 'col-xs-6 col-sm-3 header-nav-btn' %>
          <%= link_to 'SignUp', new_user_registration_path, class: 'col-xs-6 col-sm-3 header-nav-btn'%>
          <%= link_to 'LogIn', new_user_session_path, class: 'col-xs-6 col-sm-3 header-nav-btn'%>
        <% end %>
      </div>
    </div>
  </div>
</header>