<header>
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><%= image_tag 'logo.png', class: "logo" %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto mr-3">
        <% if user_signed_in? %>
          <li>
            <%= link_to new_post_path,class: 'nav-link' do %>
              投稿する<i class="fas fa-edit"></i>
            <% end %>
          </li>
          <!--フォローユーザー投稿一覧-->
          <li>
            <%= link_to posts_followed_index_path, class: 'nav-link' do %>
              <i class="fas fa-users"></i>
            <% end %>
          </li>
          <li>
            <%= link_to posts_path, class: 'nav-link' do %>
              <i class="fas fa-rss"></i>
            <% end %>
          </li>
          <!--キャンプサイト一覧-->
          <li>
            <%= link_to regions_path, class: 'nav-link' do %>
              <i class="fas fa-campground"></i>
            <% end %>
          </li>
          <!--通知-->
          <% if unchecked_notifications.any? %>
            <i class="fas fa-circle notification-icon" ></i>
          <% end %>
          <li>
            <%= link_to user_notifications_path(current_user), class: 'btn-default nav-link' do %>
              <i class="fas fa-bell"></i>
            <% end %>
          </li>
          <!--マイページ-->
          <li>
            <%= link_to user_path(current_user), class: 'nav-link' do %>
              <i class="fas fa-home"></i>
            <% end %>
          </li>
          <!--ログアウト-->
          <li>
            <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link' do %>
              <i class="fas fa-sign-out-alt"></i>
            <% end %>
          </li>
        <% else %>
          <li><%= link_to "Campistについて", "#{root_path}#about", class: 'nav-link' %></li>
          <li><%= link_to "どんなサービス？", "#{root_path}#feature", class: 'nav-link' %></li>
          <li><%= link_to "お問い合わせ", "#{root_path}#contact", class: 'nav-link' %></li>
          <li><%= link_to '新規登録', new_user_registration_path, class: 'nav-link'%></li>
          <li>
            <%= link_to new_user_session_path, class: 'nav-link' do %>
              <i class="fas fa-sign-in-alt"></i>
            <% end %>
          </li>
        <% end %>
        </ul>
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <%= render 'layouts/search' %>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>